<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="ValueObject">
            <directory>./Specification</directory>
        </testsuite>
        <testsuite name="Entity">
            <directory>./Functional</directory>
        </testsuite>
    </testsuites>

</phpunit>